@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@400;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #09131D;
    color: #ffffff;
}

h1 {
    text-align: center;
    margin-top: 200px;
}

.password-info {
    border-radius: 5px;
    background: rgba(174, 174, 174, 0.1);
    box-shadow: 0 0 20px rgba(17, 238, 172, 0.5), 0 0 10px rgba(5, 255, 210, 0.5);
    padding: 20px;
    margin: 20px auto;
    max-width: 400px;
    border: 1px solid rgba(5, 255, 210, 0.6);
    backdrop-filter: blur(10px);
}

.password-info p {
    margin: 0;
    padding: 5px 0;
}

.password-info p strong {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: normal;
}

a {
    display: block;
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
    text-decoration: none;
    color: #ffffff;
}

a:hover {
    color: #0056b3;
}