/* Reset and basic styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Poppins', sans-serif;
    background-color: #09131D; /* Dark and modern background color */
    color: #FFFFFF; /* Font color */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    overflow: hidden;
  }
  
  body::before {
    content: "";
    background: url('https://www.teksystems.com/cdn-cgi/image/height=605,width=813,quality=95,format=webp/https://www.teksystems.com/-/media/teksystems/images/blogs/blog%20images/cybersecurity-talent-gap.png?iar=0&rev=2a71ae59b0d54472b5ad1648db59318b&hash=0A95F83DAE5694F9B6AE058E9C55E4C4') no-repeat center center fixed;
    background-size: cover; /* Ensures the background image covers the entire area */
    opacity: 0.3; /* Adjust opacity as needed */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Ensures the pseudo-element is behind all content */
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative;
    z-index: 1; /* Ensures content is above the pseudo-element */
  }
  
  .register-box {
    background-color: rgba(27, 40, 54, 0.4); /* Increased glass effect */
    padding: 60px;
    border-radius: 20px;
    border: 2px solid #05FFD2; /* Border color */
    backdrop-filter: blur(10px); /* Glass effect */
    box-shadow: 0 0 10px #05FFD2; /* Glow effect on the border */
    max-width: 500px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .register-heading {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 2rem;
    margin-bottom: 30px;
  }
  
  .register-form {
    width: 100%;
    max-width: 400px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-size: 1.2rem;
    margin-bottom: 5px;
    font-family: 'Bebas Neue', sans-serif; /* Apply Bebas Neue font */
    letter-spacing: 2px; /* Increased letter spacing */
  }
  
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 6%;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.1); /* Glass effect */
    backdrop-filter: blur(5px); /* Glass effect */
    color: #FFFFFF;
    font-family: 'Bebas Neue', sans-serif; /* Apply Bebas Neue font */
    letter-spacing: 2px; /* Increased letter spacing */
  }
  
  .register-button {
    background-color: #09131D;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 1rem;
    padding: 12px 40px;
    border: 2px solid #07da9e;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    margin-top: 20px; /* Add margin to separate from the form */
    align-self: center; /* Center align the button */
  }
  
  .register-button:hover {
    background-color: #05FFD2;
    color: #09131D;
  }
  
  .login-prompt {
    font-family: 'Bebas Neue', sans-serif; /* Apply Bebas Neue font */
    font-size: 1rem;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  
  .login-link {
    color: #05FFD2;
    text-decoration: none;
    font-weight: bold;
  }
  
  .login-link:hover {
    text-decoration: underline;
  }