<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Manager</title>
    <link rel="stylesheet" href="static/addpassword.css">
</head>
<body>
    <div class="container">
        <div class="add-passwrd">
            <div class="glow-stroke"></div>
            <h1 class="add-password">ADD PASSWORD</h1>
            <form action="/add_password" method="post">
                <div class="form-field">
                    <label class="label" for="website">Website</label>
                    <input type="text" id="website" name="website" class="login-rect">
                </div>
                <div class="form-field">
                    <label class="label" for="username">Username</label>
                    <input type="text" id="username" name="username" class="login-rect">
                </div>
                <div class="form-field">
                    <label class="label" for="password">Password</label>
                    <input type="password" id="password" name="password" class="login-rect">
                </div>
                <button type="submit" class="submit-button"><span class="save">Save</span></button>
            </form>
        </div>
    </div>
</body>
</html>
