<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Password Manager Menu</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue:wght@400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='menu.css') }}">
    
</head>
<body>
    <div class="menu-container">
        <div class="menu-heading">MENU</div>
        <div class="button-container">
            <a href="/add_password" class="menu-button">ADD PASSWORD</a>
            <a href="/get_password" class="menu-button">GET PASSWORD</a>
        </div>
    </div>
</body>
</html>
